*{
    margin:0;
    padding:0;
    background-image:white;
    font-size: large;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../night\ sky\ \(1\).jpg);
}
nav{
    background-color:red;
    height:80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display:inline-block;
    margin:0 5px;
    line-height:80px;
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px ;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color:red;
}




.container{
    background-color:rgb(180,176,176);
    border: 5px solid rgb(64, 4, 176);
    padding: 30px;
    padding-top: 20px;
    width: 360px;
    height: 400px;
    margin-left: 550px;
    margin-top: 50px;
}

.container h1{
    padding: 30px;
    text-align:center;
    color: #eee;
}

.form-container{
    min-height:40vh;
    display:block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 10px; 
    background:#eee;
    padding-top: 50px;
}
.form-container form {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
form-container form input{
    width:100%;
    padding: 10px 15px; 
    font-size: 17px;
    margin: 8px 0; 
    background:#eee;
}
